.appointments{
    position: relative;
    width: 300px;
    left: 40%;
}
.appointment-container{
    width: 300px;
}
.appointment-box{
    position: relative;
    width: 300px;
    background-color: white;
    border-color: rgb(255, 255, 255, 0);
    box-shadow: 5px 5px 5px rgb(197, 186, 186);
    border-radius: 4px;
}
.appointment-container{

    width: 300px;
}

.appointment-header{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.appointment-list{
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}